<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhaSach.Properties.Settings.masterConnectionString"
            connectionString="Data Source=HIEN-TT\THUHIEN;Initial Catalog=master;Persist Security Info=True;User ID=hientt"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhaSach.Properties.Settings.QUAN_LY_NHA_SACHConnectionString"
            connectionString="Data Source=HIEN-TT\THUHIEN;Initial Catalog=QUAN_LY_NHA_SACH;Persist Security Info=True;User ID=hientt"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>